
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      To reset your password, please click the following link: <%= @url %>.
    </p>
    <p>If you do not wish to reset your password, please disregard this email. Thank you.</p>
  </body>
</html>