
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      To reset your password, please use the following token in the password reset form: <%= @token %>.
      The token is valid for 4 hours.
    </p>
    <p>If you do not wish to reset your password, please disregard this email.</p>
  </body>
</html>